#rules {
    display: none;
}
#play-area {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;

}
#player-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    order: 3;

}
#computer-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 1;

}
#game-area {
    height: 500px; /*placeholder till i get content*/
    order: 2;
}